<% layout('layouts/boilerplate') %>
<h1>Edit a Campground</h1>
<!-- override POST with PUT -->
<form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
    <div>
        <label for="title">Title</label>
        <!-- in the request body, everything is grouped into 'campground' -->
        <input type="text" id="title" name="campground[title]" value="<%= campground.title %> ">
    </div>
    <div>
        <label for="location">Location</label>
        <!-- in the request body, everything is grouped into 'campground' -->
        <input type="text" id="location" name="campground[location]" value="<%= campground.location %> ">
    </div>
    <button>Save Campground</button>
</form>
<footer>
    <a href="/campgrounds/<%= campground._id %> ">Cancel</a>
</footer>
