<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Campground</title>
</head>

<body>
    <h1>Edit a Campground</h1>
    <!-- override POST with PUT -->
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <!-- in the request body, everything is grouped into 'campground' -->
            <input type="text" id="title" name="campground[title]" value="<%= campground.title %> ">
        </div>
        <div>
            <label for="location">Location</label>
            <!-- in the request body, everything is grouped into 'campground' -->
            <input type="text" id="location" name="campground[location]" value="<%= campground.location %> ">
        </div>
        <button>Save Campground</button>
    </form>
    <footer>
        <a href="/campgrounds/<%= campground._id %> ">Cancel</a>
    </footer>
</body>

</html>