
<% layout('layouts/boilerplate') %> 
<h1>All Campgrounds</h1>
<div>
    <a href="/campgrounds/new">Add a Campground</a>
</div>
<ul>
    <% for (let camp of campgrounds) { %>
        <li>
            <a href="/campgrounds/<%= camp._id %> "><%= camp.title %></a> 
        </li>
    <% } %>  
</ul>